/* Play around with your CSS! Have fun with creating your own unique designs and playing around with different rules */
h1 {
  color: purple;
}

body {
  display: flex;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 50px;
  padding: 50px;
  background: blue;
  grid-gap: 15px;
}

.cell {
  height: 200px;
  width: 200px;
  background: yellow;
}
